@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Xe";
}
<!-- Card deck -->
     <div class="text-right">
         <button class="btn btn-primary btn-sm">
             Thêm xe
         </button>
     </div>
<div class="card-deck">
    <div class="row w-100">
        <div class="col-4">
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg"
                    alt="Card image cap">
                <a href="car/1">
                    <div class="mask rgba-white-slight"></div>
                </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Car #0143</h4>
                <!--Text-->
                <p class="card-text">Lưu ý : thay dầu xe cuối tháng này</p>
                <p class="card-text"><span class="d-inline-block" style="width:80px"> Lái xe:  </span> Nguyễn Văn A </p>
                <p class="card-text"><span class="d-inline-block" style="width:80px"> Phụ xe:  </span> Nguyễn Văn B </p>
                <p class="card-text"><span class="d-inline-block" style="width:80px"> Thời gian:  </span> 20 : 10 - 15 - 6 - 2020</p>
                <p class="card-text"><span class="d-inline-block" style="width:80px"> Hành trình:  </span> Đà Nẵng Hà Nội</p>
                <p class="card-text"><span class="d-inline-block" style="width:80px"> Trạng thái: </span>  Đã xuất phát </p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <a href="car/1" class="btn btn-light-blue btn-md">Chi tiết</a>

                </div>

            </div>
        </div>
    </div>

  <!-- Card -->

  <!-- Card -->



</div>
<!-- Card deck -->