@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "List Ticket";
}

@model List<TicketViewModel>
<div class="row">
<div class="ticket mx-3 mb-3">
  <div class="ticket__content"> 
    <p  class="status-ticket success ">
      <a href="" class="">Đã đặt</a>
    </p>
    <p class="text-center pt-4">GHE-3321</p>
    <div class="pl-3">
        <p >200000 đ</p>
        <p >Nguyễn Văn A</p>
        <p >VietNamese</p>
        <p >Audiq8</p>
        <p >Hà Nội - TPHCM</p>
        <p >20/12/2020</p>
    </div>
  </div>
</div>
<div class="ticket mx-3 mb-3">
  <div class="ticket__content">
          <p  class="status-ticket warning ">
      <a href="" class="">Trống</a>
    </p>
    <p class="text-center pt-4">GHE-3321</p>
    <div class="pl-3">
        <p >200000 đ</p>
        <p >Nguyễn Văn A</p>
        <p >VietNamese</p>
        <p >Audiq8</p>
        <p >Hà Nội - TPHCM</p>
        <p >20/12/2020</p>
    </div>
  </div>
</div>
<div class="ticket mx-3 mb-3">
  <div class="ticket__content">
    <p class="text-center pt-4">GHE-3321</p>
         <p  class="status-ticket danger ">
      <a href="" class="">Hủy</a>
    </p>
    <div class="pl-3">
        <p >200000 đ</p>
        <p >Nguyễn Văn A</p>
        <p >VietNamese</p>
        <p >Audiq8</p>
        <p >Hà Nội - TPHCM</p>
        <p >20/12/2020</p>
    </div>
  </div>
</div>
<div class="ticket mx-3 mb-3">
  <div class="ticket__content">
    <p class="text-center pt-4">GHE-3321</p>
    <div class="pl-3">
        <p >200000 đ</p>
        <p >Nguyễn Văn A</p>
        <p >VietNamese</p>
        <p >Audiq8</p>
        <p >Hà Nội - TPHCM</p>
        <p >20/12/2020</p>
    </div>
  </div>
</div>
<div class="ticket mx-3 mb-3">
  <div class="ticket__content">
    <p class="text-center pt-4">GHE-3321</p>
    <div class="pl-3">
        <p >200000 đ</p>
        <p >Nguyễn Văn A</p>
        <p >VietNamese</p>
        <p >Audiq8</p>
        <p >Hà Nội - TPHCM</p>
        <p >20/12/2020</p>
    </div>
  </div>
</div>
<div class="ticket mx-3 mb-3">
  <div class="ticket__content">
    <p class="text-center pt-4">GHE-3321</p>
    <div class="pl-3">
        <p >200000 đ</p>
        <p >Nguyễn Văn A</p>
        <p >VietNamese</p>
        <p >Audiq8</p>
        <p >Hà Nội - TPHCM</p>
        <p >20/12/2020</p>
    </div>
  </div>
</div>
<div class="ticket mx-3 mb-3">
  <div class="ticket__content">
    <p class="text-center pt-4">GHE-3321</p>
    <div class="pl-3">
        <p >200000 đ</p>
        <p >Nguyễn Văn A</p>
        <p >VietNamese</p>
        <p >Audiq8</p>
        <p >Hà Nội - TPHCM</p>
        <p >20/12/2020</p>
    </div>
  </div>
</div>
<div class="ticket mx-3 mb-3">
  <div class="ticket__content">
    <p class="text-center pt-4">GHE-3321</p>
    <div class="pl-3">
        <p >200000 đ</p>
        <p >Nguyễn Văn A</p>
        <p >VietNamese</p>
        <p >Audiq8</p>
        <p >Hà Nội - TPHCM</p>
        <p >20/12/2020</p>
    </div>
  </div>
</div>

</div>
    
    

@section Css{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <style>
        .ticket p{
            font-size: 14px;
        }
         .ticket {
        position: relative;
        box-sizing: border-box;
        width: 200px;
        height: 350px;  
        padding: 20px;
        border-radius: 10px;
        background: #fbfbfb;
    }
        .ticket:before, .ticket:after {
            content: '';
            position: absolute;
            left: 5px;
            height: 6px;
            width: 190px;
        }
        .ticket:before {
            top: -5px;
            background: radial-gradient(circle, transparent, transparent 50%, #fbfbfb 50%, #fbfbfb 100%) -7px -8px / 16px 16px repeat-x;
        }
        .ticket:after {
            bottom: -5px;
            background: radial-gradient(circle, transparent, transparent 50%, #fbfbfb 50%, #fbfbfb 100%) -7px -2px / 16px 16px repeat-x;
        }
        .ticket__content {
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            border: 6px solid #d8d8d8;
        }
        .status-ticket{
            display: inline-block;
            text-align: center;
            width: 50px;
            position: absolute;
            right: 20px;
            top: 20px; 
            padding: 0 10px;
            font-size: 10px;
        }
        .status-ticket.success{
            background: #20c997;

        }
        .status-ticket.warning{
            background: #ffc107 ;
        }

        .status-ticket.danger{
            background: #dc3545 ;
        }
        .status-ticket a{
            font-size: 10px;
            color: white;
        }
    </style>
}
@section Script{
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable( 
               {  
                 "order": [[ 0, "desc" ]],
                  "columnDefs": [
                    { "width": "5%", "targets": 0 },
                    { "width": "15%", "targets": 4 },
                  ]
               },
            );
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}